langchain
langchain-google-genai
langchain-anthropic
langchain-chroma
pinecone
langgraph
pydantic>=2.0
faiss-cpu
streamlit
loguru
tenacity
chromadb
tavily-python
arxiv
python-dotenv
duckduckgo-search
pyyaml
langchain-community
fastapi
uvicorn
sse-starlette
PyPDF2
python-docx
python-multipart
langchain-ollama
matplotlib
seaborn
fpdf2
markdown
beautifulsoup4
